@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root{
    --black: rgb(0, 0, 0);
    --white: #ffffff;
    --orangered: #d77104;
    --gray: #263238;
    --violet: #7b5bbd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

a{
    color: black;
}

a:hover{
    cursor: pointer;
}

.divider {
    width: 100%;
    max-width: 1300px;
    height: 5px;
    background-color: var(--orangered);
  }



/* --------------------------MEDIA--------------------- */

/* --------------------------0 - 768------------------- */

@media (min-width: 0) and (max-width: 768px) {

 main{
    text-align: center;
 }

 img {
        width: 200px;
 }
/* -----------------------------HEADER-------------------- */

 .header-container{
    width: 100%;
 }

 .header{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
 }

 .logo-container img{
    width: 300px;
 }
 .navbar{
    display: flex;
    align-items: center;
    justify-content: end;
    
 }

 #toggle-menu{
    display: none;
 }

 .navbar label{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
 }

 .navbar i{
    display: block;
    font-size: 25px;
 }

 .navbar ul{
    display: none;
    background-color: var(--orangered);
    width: 100%;
    height: calc(60vh - 80px);
    position: absolute;
    top: 100px;
    right: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    transform: translateX(200%);
    transition: all 0.5s ease-out;
 }

 #toggle-menu:checked ~ .navbar-list{
    display: flex;
    transform: translateX(0);
    transition: all 0.4s ease-in;
 }



 /* ------------------------HERO----------------- */

 .hero-container{
    display: none;
 }

}

/* --------------------------769 - 1279------------------- */

@media (min-width: 769) and (max-width: 1279px) {

}


@media (min-width: 1280px) {

    /*             HEADER                   */

.header-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

header{
    width: 100%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 50%;
    height: 100px;
    display: flex;
}

.logo-container a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

/* ---------------------------NAV BAR ------------------------------- */

.navbar{
    width: 50%;
    height: 100%;
}

#toggle-menu{
    display: none;
}

.navbar i{
    display: none;
}

.navbar-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    font-weight: 500;
    font-size: 20px;
}

.navbar-list a{
    color: black;
}

.navbar-list a:hover{
    color: #d77104;
    transition: 0.5s;
}

.navbar-list p:hover{
    color: #d77104;
    transition: 0.5s;
    transform: scale(1.1);
}

/*               ---------------- HERO -----------------               */

.hero-container{
    width: 100%;
    
}

#hero{
    width: 100%;
    max-width: 1300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#hero img{
    width: 100%;
    margin: 25px 0 0 0;
}


/*              -----------------PRODUCTOS----------------                        */

.productos-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#productos{
    height: 1230px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search input{
    display: flex;
    gap: 20px;
}

.search input{
    width: 80%;
    height: 30px;
    border-radius: 0px;
    border-bottom: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.search input:hover{
    box-shadow: 0px 0px 5px 5px#d77104;
    transition: 0.5s;
}



.search button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d77104;
    color: white;
    cursor: pointer;
}

.search button:active{
    background-color: black;
}


.productoscard-container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.productos-card{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.productos-card a{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.productos-card h2:hover{
    color: #d77104;
    transition: 0.5s;
}

.productos-card  a img{
    width: 200px;
    gap: 40px;
}

.acontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.acontainer button{
    width: 100px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d77104;
    color: white;
}

.acontainer button:active{
    background-color: black;
}

/*       --------------- PC ARMADA ---------------           */

.pcarmada-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pcarmada{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    gap: 30px;
}

.pcarmada-card{
width: 300px;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
}

.pcarmada-card a{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: initial;
    gap: 15px;
}

.pcarmada-card a:hover{
    transition: .5s;
    transform: scale(1.05);
    color: #d77104;
}

.pcarmada-card img{
    width: 300px;
}

/*         ----------------- FOOTER -----------------             */

footer{
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-container{
    width: 100%;
    
    max-width: 1300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#contactanos{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul{
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

footer ul div {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer ul div a{
    width: 30px;
    height: 30px;
}

footer ul div a i{
    font-size: 2rem;
}

footer ul div a i:hover{
    transition: .5s;
    transform: scale(1.2);
    color: #d77104;
}

.derechos{
    width: 100%;
    max-width: 1300px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 68px;
}

}